body{
    margin:0;
    padding:0;
}
.contianer{
    position: relative;
    width: 50%;
    height:300px;;
    margin: 10% auto;
    background-color: #eee;
    overflow: hidden;
}
.center{
    position: absolute;
    top:50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #999;
    margin:auto;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.box{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: pink;
    animation: big 1s linear infinite;
    opacity: 0;
    top:10px;
    left:10px;
    border-radius: 50%;
}
@keyframes big {
    from {
         opacity: 0.3；
    }
    to {
        transform:scale(1.5);
        opacity: 0.8;
    }
}
